
* {
    background-color: #ffffff;
    text-align: left;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    color: black;
    font-size: 10pt;
    text-decoration: none;
}

body {
    margin-left: 2%;
    margin-right: 2%;
}

h1 {
    font-size: 110%;
    font-weight: bold;
    border-top: solid 2px rgb(150,220,250);
}

h1.a {
    border-top: none;
    border-bottom: solid 2px rgb(150,220,250);
}

body, p, td, h2, h3, h4, h5, h6, table {
    font-size: 100%;
    padding: 0;
}

a, b, li, td, tr {
    margin-left: 0;
    margin-right: 0;	
}

a:link {
    color: #0000ff;
}

a:visited {
    color: #808080;
}

a:active {
    color: #ff0000;
}

ol.a li {
    padding-bottom: 10pt;
}

img {
    border: solid 1px ;
    color: #0000ff;
}

